.site-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,w_1200,h_630,f_auto,q_auto,g_auto/shape/cover/sport/fbl-eur-c1-tottenham-liverpool-5cf5728d6ea5870db1000001.jpg);
  background-size: cover;
  background-position: 50%;
  // opacity: 0.9;
}