.home {
    height: 100vh;
    width: 100vw;
.dis-logo {
  padding: 4vh;
}
.lead {
  font-weight: bold;
  font-size: 4vh;
  padding-top: 3%;
}
.p-tag {
  padding-top: 1%;
  font-style: italic;
  font-size: 3vh;
}
.home-btn{
  .btn {
    display: flex;
    justify-content: center;
    background-color: navy;
    color: white;
    width: 20%;
    margin: auto;
    align-items: center;
    align-content: center;
  }
  padding-top: 7vh;
  // padding-bottom: 10%;
}
.dis-logo{
  img{
    padding-top: 4vh;
    width:60%;
    @media (max-width: 550px) {
      width: 100%;
    }
  }
}
}