.navbar{
  a, .nav-link{
    color: rgb(235, 228, 228);
    text-decoration: none;
    display: inline;
    padding: 10px;
  }

  .navdropdown{
    margin-top: 5px;
    padding: 5px;
    text-align: justify;
  }
}