.char-img {
  img {
    border-radius: 25%;
    display: flex;
  }
}
.name {
  font-weight: bolder;
  font-size: 18vh;
}
.content{
  h2{
    padding-top: 15%;
    padding-bottom: 50%;
  }
}
.name-info{
  display: flex;
}
.other-info{
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}
.img-name{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  @media (max-width: 1000px) {
    flex-wrap: wrap;
    .name{
      font-size: 15vh;
    }
  }
  @media (max-width: 920px) {
    padding-bottom: 5vh;
    .name{
    font-size: 8vh;
    }
  }
  @media (max-width: 420px) {
    .name-info{
      padding-top: 3vh;
    }
  }
}